.colorPrimary
  color: rgba(255, 255, 255, 1) !important

.root
  background: rgba(0, 0, 0, 1)
  color: rgba(255, 255, 255, 1)

.modal
  background: rgba(255, 255, 255, 0.4)

.paper
  background: rgba(0, 0, 0, 1)
  width: 25%

.fullWidthChildren
  width: 100%

.halfWidthChildren
  width: 75%
  margin-left: 25%

.alignCenterHeader
  margin-bottom: calc((30px - 1rem)/2) !important
  margin-top: calc((30px - 1rem)/2) !important
  margin-left: 1px !important
  text-align: center
  display: flex;

.header
  background: rgba(0, 0, 0, 1)
  min-height: 30px
